<main class="entry">
    <div class="title">
        <a href="{{entry_url}}" target="_blank">{{title}}</a>
        <span>{{entry_url}}</span>
    </div>
    <div class="items">
        This entry created on {{created_at}}
        <a href="/entry/{{id}}">{{observations.length}}</a>
    </div>
</main>